.form-section {
  display: flex;
  padding: 0rem 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
  width: 100%;

  h3 {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
    color: #344054;
  }

  .btn {
    display: flex;
    padding: 1rem;
    gap: 0.25rem;
    justify-content: space-between;
    align-self: stretch;
    background-color: #ffffff;
    border-radius: 1rem;
    border: 2px #e5e5e5 solid;
    width: 100%;
    cursor: pointer;
    span {
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .empty {
      color: #d0d5dd;
      align-self: center;
      font-size: 1.25rem;
    }
    .full {
      color: #ec6276;
      align-self: center;
      font-size: 1.25rem;
    }
  }
}
